/* Menu de filtrado por sucursal*/
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar a {
    display: inline-block;
    text-align: center;
    border: 0;
    border-radius: 64px;
    padding: 8px 56px;
    color: #02fefe;
    cursor: pointer;
    overflow: hidden;
    transform: translate(0);
}

.navbar a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #b527cf, #3bd9d9);
    transition: 0.4s ease;
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

.navbar a:hover::before {
    transform: scaleX(1.1) scaleY(1.1);
}
/*Productos*/

.content{
    float: left;
    padding-top: 20px;
    margin: auto;
    color: #fff;
}

.content .flip-card{
    cursor: pointer;
}

.content{
    margin: 10px 16px;
}

.content, .content > .flip-card{
    padding: 8px;
}

.flip-card{
    float: left;
    width: 30%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front {
    background-image: 
        linear-gradient(
            45deg, #6f04d9, #d9048e
        );
}

.flip-card-front img {
    width: 220px;
    margin-top: 1rem;
}

.flip-card-back {
    background-image: 
    linear-gradient(
        315deg, #6f04d9, #d9048e
    );
    color: #ffffff;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 140px;
    margin-top: 1rem;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back h1 {
    margin: 0;
}