<header>
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div><a href="" class="navbar-brand">"Heladería Don Bosco"</a></div>

            <div><a href="" [routerLink]="['/listarTarjetas']" routerLinkActive="Active"
                    class="navbar-brand">Tarjetas</a>
            </div>

            <div><a href="" [routerLink]="['/listarPedidos']" class="navbar-brand">Pedidos</a></div>

            <div><a href="" class="navbar-brand" [routerLink]="['/productos']">Productos</a></div>

            <div class="d-flex flex-row-reverse">
                <div class="col">
                    <div><a href="" [routerLink]="['/inicio']" class="navbar-brand">Mi Usuario</a></div>
                </div>
            </div>

            <div><a href="" class="navbar-brand" [routerLink]="['/login']">Cerrar Sesion</a></div>
        </nav>
    </div>
</header>

<h2>Lista Productos</h2>

<section >
    <nav class="navbar">
        <ul>
            <li class="nav-item">
                <a [routerLink]="['/productos']" routerLinkActive="active" class="nav-link">Todos</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/Cuenca']" routerLinkActive="active" class="nav-link">Cuenca</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/Giron']" routerLinkActive="active" class="nav-link">Giron</a>
            </li>
        </ul>
    </nav>
</section>

<section class="content">
    <div class="flip-card" *ngFor = "let producto of productos">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>{{producto.nombre}}</h3>
            </div>
            <div class="flip-card-back">
                <h1>{{producto.descripcion}}</h1>
                <h1>{{producto.marca}}</h1>
                <h1>${{producto.precio}}</h1>
                <input type="text">
                <button>Agregar</button>
            </div>
        </div>
    </div>
</section>


<table class="table table-striped">
    <thead class="table-dark">
        <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Marca</th>
        <th>Stock</th>
        <th>Estado</th>
        <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let producto of productos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.marca}}</td>
            <td>{{producto.stock}}</td>
            <td>{{producto.estado}}</td>
            <td>{{producto.precio}}</td>
        </tr>
    </tbody>

    
</table>