<div class="container">
    <div class="row">
        <table class="table table-black table-striped">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let producto of productos">
                    <tr>
                      <td>{{producto.nombre}}</td>
                      <td>{{producto.quantity}}</td>
                      <td>{{producto.precio}}</td>
                    </tr>
                    </ng-container>
            </tbody>
        </table>
    </div>

    <div class="row">
        <p class="text-end" style="color:black">Total {{total()}}</p>
    </div>

    <!-- <div class="row">
        <div class="text-end">
            <button >Comprar</button>
        </div> 
    </div>  -->
    <button type="button" class="btn btn-light btn-sm" (click)="confirmar()" >Comprar</button> 

</div>
